html {
    height: 100%;

    background-image:url(../img/background.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: bottom center;
}

header {
    background: transparent url(http://www.breizhcamp.org/img/logo.png) no-repeat left center;
    background-size: 50%;
    height: 160px;
    text-align: right;
    font-size: 65px;
    line-height: 160px;
    padding: 20px;
    color: white;
    text-shadow: 2px 2px 2px #111;
}

.day,
.day a {
    color: #8800BB;
    font-size: 32px;
    text-align: center;
    text-shadow: 2px 2px 2px #111;
}

.day a {
    color: #FF6600;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px 2px #111;
}

.room h2 {
    color: #8800BB;
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px 2px #111;
}

.zoom {
    animation:zoomAnim 1000ms linear 0ms;
    -webkit-animation:zoomAnim 1000ms linear 0ms;
}

@keyframes zoomAnim
{
    from {transform: translate(1000px)}
    to   {transform: translate(0px)}
}

@-webkit-keyframes zoomAnim /* Safari and Chrome */
{
    from {transform: translate(1000px)}
    to   {transform: translate(0px)}
}

.talk h3 {
    color: #FF6600;
    font-size: 20px;
    text-align: center;
    margin: 0;
    text-shadow: 2px 2px 2px #111;
}

.talk h3 small {
    font-size: 10px;
}

.talk .speakers {
    text-align: center;
    margin: auto;
    display: table;
}

.talk .speakers .speaker {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    width: 150px;
    height: 100px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.talk .speakers .speaker img {
    max-width: 100px;
    height: 100px;
}

.talk .speakers .speaker .name {
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff !important;
    position: relative;
    overflow: hidden;
    bottom: 30px;
    height: 25px;
    line-height: 1.2em;
}

.currentTalk {
    position: fixed;
    top: 40%;
    left: 0;
    right: 0;
}

.currentTalk h3 {
    color: #FF6600;
    font-size: 80px;
    text-align: center;
    margin: 0;
    text-shadow: 2px 2px 2px #111;
}

.currentTalk h3 small {
    font-size: 20px;
}

.currentTalk .speakers {
    text-align: center;
    margin: auto;
    display: table;
}

.currentTalk .speakers .speaker {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    width: 150px;
    height: 150px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.currentTalk .speakers .speaker img {
    max-width: 150px;
    height: 150px;
}

.currentTalk .speakers .speaker .name {
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff !important;
    position: relative;
    overflow: hidden;
    bottom: 30px;
    height: 25px;
    line-height: 1.2em;
}

.nextTalk {
    position: fixed;
    bottom: 2%;
    right: 2%;
}

.nextTalk h3 {
    color: #FFFF66;
    font-size: 32px;
    margin: 0;
    text-shadow: 2px 2px 2px #111;
}
