html {
    height: 100%;
    font-family: "Helvetica Neue" Helvetica;

    background-color: black;
    color: #DEDEDE;
    overflow:hidden;
}

header {
    background: transparent url(../img/logo-inverse.svg) no-repeat left center;
    background-size: contain;
    height: auto;
    text-align: right;
    font-size: 70px;
    line-height: inherit;
    padding: 20px;
    color: white;
    text-shadow: 2px 2px 2px #111;
}

h1 {
    text-align: center;
    margin-bottom: 3%;
    font-size: 38px;
}

h2 {
    text-align: center;
    margin-top: 18%;
    clear: both;
    font-size: 28px;
}

.bgVideo {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
}

.talk {
    color: #FF6600;
    text-shadow: 2px 2px 2px #FFF;
    margin: 0.5%;
    float: left;
    text-align: center;
    font-size: 25px;
    border-radius: 5px;
    background-color: rgba(250,250,250,0.8);
    box-shadow: 5px 5px 10px #555;
    height: 200px;
    overflow: hidden;
}

.talk .room {
    color: #8800BB;
    font-size: 21px;
    font-weight: bold;
    line-height: 50px;
    clear: both;
}

.talk .time {
    float: right;
    margin: 3px 6px -10px;
    font-size: 19px;
    color: #444;
    text-shadow: 1px 1px 1px #EEE;
}

.next {
    opacity: 0.9;
    font-size: 20px;
    height: 180px;
}
.next .room {
    line-height: 45px;
}
