
<div ng-repeat="currentTalk in currentTalks" ng-show="currentTalk.css !== 'unzoom'">
    <div class="{{{true:'currentTalk', false:'talk'}[currentTalk.css === 'zoom']}} {{currentTalk.css}}">
        <h3>{{currentTalk.title}} <small>(depuis {{currentTalk.time}})</small></h3>
        <div class="speakers">
            <div class="speaker"ng-repeat="speaker in currentTalk.detail.speakers" >
                <img ng-src="{{speaker.avatar}}">
                <div class="name">{{speaker.fullname}}</div>
            </div>
        </div>
    </div>

    <div class="nextTalk {{currentTalk.css}}" ng-show="nextTalks[$index] && currentTalk.css === 'zoom'">
        <h3>A suivre...<br/>{{nextTalks[$index].time}} : <i>{{nextTalks[$index].title}}</i></h3>
    </div>
</div>

