<div class="trackTalks">

    <div ng-repeat="roomTalk in roomsTalks" class="trackTalk" ng-class="{highlighted: $index == highlightedIndex}">

        <h2>Salle "{{roomTalk.name}}"</h2>

        <div class="currentTalk {{roomTalk.currentTalk.format}}" ng-show="roomTalk.currentTalk">
            <h3>{{roomTalk.currentTalk.title}} <small>(début à {{roomTalk.currentTalk.time}})</small></h3>
            <div class="talkDetail" ng-show="$index == highlightedIndex">
                <p ng-bind-html-unsafe="getSafeDescription(roomTalk.currentTalk.detail.description)"></p>
            </div>
        </div>

        <div class="speakers">
            <div class="speaker" ng-repeat="speaker in roomTalk.currentTalk.detail.speakers" >
                <div class="icon"><img ng-src="{{speaker.avatar}}" /></div>
                {{speaker.fullname}}
            </div>
        </div>

        <div class="nextTalk {{roomTalk.nextTalk.format}}" ng-show="roomTalk.nextTalk">
            <h3>A suivre...<br/>{{roomTalk.nextTalk.time}} : <i>{{roomTalk.nextTalk.title}}</i></h3>
        </div>

    </div>

</div>

