<div class="room">
    <h2>Track "{{track.type}}"</h2>

    <div class="currentTalk {{currentTalk.format}}" ng-show="currentTalk">
        <h3>{{currentTalk.title}} <small>(depuis {{currentTalk.time}})</small></h3>
        <div class="speakers">
            <div class="speaker" ng-repeat="speaker in currentTalk.detail.speakers" >
                <img ng-src="{{speaker.avatar}}">
                <div class="name">{{speaker.fullname}}</div>
            </div>
        </div>
    </div>

    <div class="nextTalk {{nextTalk.format}}" ng-show="nextTalk">
        <h3>A suivre...<br/>{{nextTalk.time}} : <i>{{nextTalk.title}}</i></h3>
    </div>

</div>